<mat-card>
    <h2>{{buttonText}}</h2>
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="title" [(ngModel)] = "title"
                           name = "title"
                           required #spy
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
            Title is required
          </mat-error>                        
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="author" [(ngModel)] = "author"
                             name = "author"
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                Author is required
            </mat-error>                        
          </mat-form-field>
        <div >
          <button mat-raised-button color="primary" [disabled]="!addForm.form.valid">{{buttonText}}</button>
        </div>
        
      </div>
    </form>
</mat-card>