<div *ngIf = "!(books$ | async)">Loading...</div>
<mat-accordion>
  <button mat-raised-button routerLink="/Add" routerLinkActive="active" color="primary" >Add Book</button>
    <mat-expansion-panel *ngFor = "let _book of books$ | async" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{_book.title}} <!--print-->
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
        </mat-expansion-panel-header>
            <p>by {{_book.author}}</p>
            <button mat-raised-button color="primary" (click)="delete(_book.id)">DELETE </button> 
            <button mat-raised-button [routerLink]="'/Add/'+_book.id" routerLinkActive="active" color="primary" >UPDATE </button>
          </mat-expansion-panel>
</mat-accordion>


