<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <div> The temp in {{city}} is {{ temp | number:'1.0-0'}}º </div>
    <p *ngIf = "hasError">{{errorMessage}}</p>
    <a mat-list-item routerLink="/tempform" routerLinkActive="active">Temperatures Form</a>
      <p *ngIf = "likes>0" > {{likes}}</p>
    <mat-card-actions>
      <button (click) = "onSubmit()" mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>